#tabel{
    min-height: 55rem;
    padding-top: 4.5rem;
}

.figure{
    min-height: 55rem;
    padding-top: 4.5rem;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.the-winner{
     color: rgb(0, 89, 255)

}